@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@600;700&family=Outfit:wght@600;700&family=Rubik:wght@600;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --el-color-primary: #001233 !important;
  --el-color-primary-light-3: #5c677d !important; /* button - primary에 마우스 커서 */
  --el-color-primary-light-5: #7d8597 !important; /* button - primary, link에 마우스 커서 */
  --el-color-primary-light-7: rgb(197.7, 225.9, 255);
  --el-color-primary-light-8: rgb(216.8, 235.6, 255);
  --el-color-primary-light-9: rgb(235.9, 245.3, 255);
  --el-color-primary-dark-2: #002855 !important;
  --el-color-success: #67c23a;
  --el-color-success-light-3: rgb(148.6, 212.3, 117.1);
  --el-color-success-light-5: rgb(179, 224.5, 156.5);
  --el-color-success-light-7: rgb(209.4, 236.7, 195.9);
  --el-color-success-light-8: rgb(224.6, 242.8, 215.6);
  --el-color-success-light-9: rgb(239.8, 248.9, 235.3);
  --el-color-success-dark-2: rgb(82.4, 155.2, 46.4);
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: rgb(237.5, 189.9, 118.5);
  --el-color-warning-light-5: rgb(242.5, 208.5, 157.5);
  --el-color-warning-light-7: rgb(247.5, 227.1, 196.5);
  --el-color-warning-light-8: rgb(250, 236.4, 216);
  --el-color-warning-light-9: rgb(252.5, 245.7, 235.5);
  --el-color-warning-dark-2: rgb(184, 129.6, 48);
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: rgb(248, 152.1, 152.1);
  --el-color-danger-light-5: rgb(250, 181.5, 181.5);
  --el-color-danger-light-7: rgb(252, 210.9, 210.9);
  --el-color-danger-light-8: rgb(253, 225.6, 225.6);
  --el-color-danger-light-9: rgb(254, 240.3, 240.3);
  --el-color-danger-dark-2: rgb(196, 86.4, 86.4);
  --el-color-error: #ae2012 !important;
  --el-color-error-light-3: rgb(248, 152.1, 152.1);
  --el-color-error-light-5: rgb(250, 181.5, 181.5);
  --el-color-error-light-7: rgb(252, 210.9, 210.9);
  --el-color-error-light-8: #ae2012 !important; /* 에러테두리 */
  --el-color-error-light-9: rgb(254, 240.3, 240.3); /* 에러배경 */
  --el-color-error-dark-2: rgb(196, 86.4, 86.4);
  --el-color-info: #909399;
  --el-color-info-light-3: rgb(177.3, 179.4, 183.6);
  --el-color-info-light-5: rgb(199.5, 201, 204);
  --el-color-info-light-7: rgb(221.7, 222.6, 224.4);
  --el-color-info-light-8: rgb(232.8, 233.4, 234.6);
  --el-color-info-light-9: rgb(243.9, 244.2, 244.8);
  --el-color-info-dark-2: rgb(115.2, 117.6, 122.4);
  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-svg-monochrome-grey: var(--el-border-color);

  --el-message-bg-color: var(--el-color-error-light-9);
  --el-message-border-color: var(--el-color-error-light-8);
  --el-message-text-color: var(--el-color-error);

  --black-white-color: white;

  --popover-error: #e53e3e;

  --main-header-background: #f4f7f9;
  --main-header-text-color1: #777;
  --main-header-text-color2: #333;

  --text-color3: #555;

  --primary-color: #6c5ce7;
  --primary-color-light: #f8f6ff;
  --bg-color: #f4f7f9;
  --card-bg: #ffffff;
  --text-color: #333;
  --light-text-color: #777;
  --border-color: #e9e9e9;
  --border-color-light: #e2dffc;
  --green: #2ecc71;
  --yellow: #f1c40f;
  --orange: #e67e22;
  --red: #e74c3c;
  --blue: #3498db;

  --agree-info-color: #F4F4F5;

  --refresh-modern-color: #f9fafb;
  --refresh-modern-text-color: #374151;
  --refresh-modern-border-color: f3f4f6;

  --signup-color-email: #001233;

}

html.dark {
  --el-color-primary: #F2F2F2 !important;
  --el-overlay-color-light: #c0c4cc;

  --black-white-color: black;

  --main-header-background: #606266;
  --main-header-text-color1: #ddd;
  --main-header-text-color2: #eee;

  --text-color3: #c0c4cc;

  --primary-color-light: var(--el-border-color);
  --border-color-light: #ffffff;

  --agree-info-color: #202121;

  --refresh-modern-color: var(--el-fill-color-dark);
  --refresh-modern-text-color: #ffffff;
  --refresh-modern-border-color: var(--el-button-hover-bg-color);

  --signup-color-email: #0A0A0A;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* [추가] body의 배경색이 테마 변수를 따르도록 설정 */
  background-color: var(--el-bg-color);
  /* [추가] 부드러운 색상 전환 효과 */
  transition: background-color 0.3s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.el-table th.el-table__cell {
  background-color: var(--el-color-primary) !important;
}

/* el-message box 버튼간격 조정 */
.el-button+.el-button {
  margin-left: 4px !important;
}

/* custom-error-popover 클래스를 가진 popover의 화살표에만 스타일 적용 */
.el-popper.custom-error-popover[data-popper-placement^=right] .el-popper__arrow::before {
  border-left-color: var(--popover-error) !important;
  border-bottom-color: var(--popover-error) !important;
  background-color: #f8f9fa !important;
}

/* 회원탈퇴 Message Box */
.withdraw-confirm-box.el-message-box {
  width: 540px;
  max-width: 540px; /* 화면이 작을 경우를 대비 */

  padding: 25px 30px 20px;
  border-radius: 12px;
}

.resolution-info-box.el-message-box {
  width: 270px;
  max-width: 270px;
  padding: 10px;
  border-radius: 8px;
}