spring:
  application:
    name: BonsCore
  banner:
    location: templates/banner/banner.txt
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            required: true
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_SERVICE_KEY}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - account_email     # 이메일
              - name              # 이름
              - gender            # 성별
              - birthyear         # 출생연도
              - birthday          # 생일
              - phone_number      # 전화번호
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  secret: ${JASYPT_KEY}

security:
  encryption-key: ${ENCRYPTION_KEY}

naver:
  client:
    id: ${NAVER_CLIENT_ID}
    secret: ${NAVER_CLIENT_SECRET}


# API
api:
  naver:
    client:
      id: ${NAVER_CLIENT_ID}
      secret: ${NAVER_CLIENT_SECRET}
  kma:
    url: "http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst"
    key: ${KMA_SERVICE_KEY}
    holiday:
      url: "https://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService"
  kakao:
    url: "https://dapi.kakao.com/v2/local/search/address.json"
    key: ${KAKAO_SERVICE_KEY}
    category-url: "https://dapi.kakao.com/v2/local/search/category.json"
  google:
    key: ${GOOGLE_KEY}
  recaptcha:
    secret: ${RECAPTCHA_KEY}
    verify-url: "https://www.google.com/recaptcha/api/siteverify"

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com:
      koo:
        bonscore: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %magenta(${PID:-}) -- [BonsCore] [%-15.15thread] %cyan(%-40.40logger{39}) : %msg%n"
